.newscontainerPublication {
  padding-left: 100px;
}
.newscontainerPublication .row {
  /* width: 350px; */
  /* height: 350px; */
  display: grid;
  grid-template-columns: auto;
  padding-right: 30px;
  border-radius: 5px;
}

/* h5 {
  font-size: 1em;
} */

@media only screen and (min-width: 768px) {
  .newscontainerPublication .row {
    grid-template-columns: auto auto;
  }
  .menu-bar-container a {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  .newscontainerPublication .row {
    grid-template-columns: auto auto auto;
  }
  .menu-bar-container a {
    font-size: 20px;
  }
}
