.header-container {
  display: flex;
  text-align: center;
  background-color: black;
}

.header {
  width: 100%;
}

.header-container .text {
  font-size: 40px;
  color: white;
  text-shadow: 6px 6px 6px rgba(153, 17, 17, 0.7);
  /* text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3); */
}
