.card-title {
  margin: 0;
  padding: 10px;
  display: flex;
  font-size: 15px;
  font-weight: 800;
}
.card-text {
  margin: 0;
  height: 115px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 500;
}
